<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}
    <h1>Dojos</h1>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>  
            </tr>
        </thead>
            {%for dojo in dojos%}
            <tr>
                <td>{{dojo.id}}</td>
                <td><a href="/ninja/{{dojo.id}}">{{dojo.name}}</a></td>
            </tr>
            {%endfor%}
        </table>

        <h1>New Dojo</h1>
        <form action="/create" method="post">
            <label for="name">Name:</label>
            <input type="text" name="name">
            <input type="submit">
        </form>
<a href="/ninja">Add ninja</a>
    
</body>
</html>