<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
    {% if messages %}                            <!-- check if there are any messages -->
        {% for message in messages %}            <!-- loop through the messages -->
            <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
        {% endfor %}
    {% endif %}
{% endwith %}


    <h1>Register</h1>
    <form action="/process" method="post">
        <label for="fname">First name</label>
        <input type="text" name="fname">
        <label for="lname">Last name</label>
        <input type="text" name="lname">
        <label for="email">Email</label>
        <input type="text" name="email">
        <label for="password">Password</label>
        <input type="password" name="password">
        <label for="c_password">Confirm Password</label>
        <input type="password" name="c_password">
        <input type="submit">
    </form>
    <h1>Login</h1> 
    <form action="/login" method="post">
        
        <label for="email">Email</label>
        <input type="text" name="email">
        <label for="password">Password</label>
        <input type="password" name="password">
        
        <input type="submit">
    </form>
</body>
</html>